@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<WebClient.Domain.StudentList>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
